<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Introduction To Data Science @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 01 - Data collecting ðŸ“Œ
</div>

## Introduction

First, tell us what your's name, and your student ID number?

In [1]:
# YOUR CODE HERE
# Just replace your name, and your student ID number
# BEGIN YOUR CODE
studentName = "Nguyen Hong Hanh"

studentID = 21127503
# END YOUR CODE
# raise NotImplementedError()

This stage aim to collect the data from World Bank  which includes demographic data and other statistics related to Population, Employment, Health, GDP, Energy Consumption,... for all countries in the world from 1960 to 2022. Here is a brief overview about selected indicators:

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Indicator Code</th>
      <th style="background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">1</td>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">SP.POP.TOTL</td>
      <td style="font-size: 14px; text-align: left;">Total Population.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">2</td>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">SP.POP.TOTL.FE.IN</td>
      <td style="font-size: 14px; text-align: left;">Female Population.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">3</td>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">SP.POP.TOTL.MA.IN</td>
      <td style="font-size: 14px; text-align: left;">Male Population.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">4</td>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">SP.DYN.CBRT.IN</td>
      <td style="font-size: 14px; text-align: left;">Birth Rate.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">5</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">SP.DYN.CDRT.IN</td>
      <td style="font-size: 14px; text-align: left;">Death Rate.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">6</td>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">SE.COM.DURS</td>
      <td style="font-size: 14px; text-align: left;">Compulsory Education Dur.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">7</td>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">SL.IND.EMPL.ZS</td>
      <td style="font-size: 14px; text-align: left;">Employment in Industry(%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #4B0082; text-align: left;">8</td>
      <td style="font-weight: bold; font-size: 14px; color: #4B0082; text-align: left;">SL.AGR.EMPL.ZS</td>
      <td style="font-size: 14px; text-align: left;">Employment in Agriculture(%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">9</td>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">SL.AGR.EMPL.FE.ZS</td>
      <td style="font-size: 14px; text-align: left;">Female Employment in Agriculture(%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">10</td>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">SL.IND.EMPL.FE.ZS</td>
      <td style="font-size: 14px; text-align: left;">Female Employment in Industry(%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">11</td>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">SL.UEM.TOTL.ZS</td>
      <td style="font-size: 14px; text-align: left;">Unemployment(%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">12</td>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">NY.GDP.MKTP.CD</td>
      <td style="font-size: 14px; text-align: left;">GDP in USD.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">13</td>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">NY.ADJ.NNTY.PC.KD.ZG</td>
      <td style="font-size: 14px; text-align: left;">National Income per Capita.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">14</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">NY.GSR.NFCY.CD</td>
      <td style="font-size: 14px; text-align: left;">Net income from Abroad.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">15</td>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">NV.AGR.TOTL.CD</td>
      <td style="font-size: 14px; text-align: left;">Agriculture value added(in USD).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">16</td>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">EG.USE.ELEC.KH.PC</td>
      <td style="font-size: 14px; text-align: left;">Electric Power Consumption(kWH per capita).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #4B0082; text-align: left;">17</td>
      <td style="font-weight: bold; font-size: 14px; color: #4B0082; text-align: left;">EG.FEC.RNEW.ZS</td>
      <td style="font-size: 14px; text-align: left;">Renewable Energy Consumption (%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">18</td>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">EG.USE.COMM.FO.ZS</td>
      <td style="font-size: 14px; text-align: left;">Fossil Fuel Consumption (%).</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">19</td>
      <td style="font-weight: bold; font-size: 14px; color: #254441; text-align: left;">SP.DYN.LE00.MA.IN</td>
      <td style="font-size: 14px; text-align: left;">Male life expectancy.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">20</td>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">SP.DYN.LE00.FE.IN</td>
      <td style="font-size: 14px; text-align: left;">Female life expectancy.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">21</td>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">SE.PRM.ENRR</td>
      <td style="font-size: 14px; text-align: left;">School enrollment, primary.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">22</td>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">SE.TER.ENRR</td>
      <td style="font-size: 14px; text-align: left;">School enrollment, tertiary.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">23</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">SE.PRM.CMPT.ZS</td>
      <td style="font-size: 14px; text-align: left;">Primary completion rate.</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">24</td>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">SE.ADT.1524.LT.ZS</td>
      <td style="font-size: 14px; text-align: left;">Literacy rate.</td>
    </tr>
  </tbody>
</table>

**About LICENSE**

The World Bank Group makes data publicly under the Creative Commons Attribution 4.0 International license (CC-BY 4.0)

```
Creative Commons Attribution 4.0 (CC-BY 4.0)

The Creative Commons Attribution 4.0 International license allows users to copy, modify and distribute data in any format for any purpose, including commercial use. Users are only obligated to give appropriate credit (attribution) and indicate if they have made any changes, including translations. CC-BY 4.0, with the additional terms below, is the default license for all Datasets produced by the World Bank itself and distributed as open data.

All users of these Datasets under the CC-BY 4.0 License also agree to the following mandatory terms: Any and all disputes arising under this License that cannot be settled amicably shall be resolved in accordance with the following procedure:
1. Pursuant to a notice of mediation communicated by reasonable means by either You or the Licensor to the other, the dispute shall be submitted to non-binding mediation conducted in accordance with rules designated by the Licensor in the copyright notice published with the Work, or if none then in accordance with those communicated in the notice of mediation. The language used in the mediation proceedings shall be English unless otherwise agreed.
2. If any such dispute has not been settled within 45 days following the date on which the notice of mediation is provided, either You or the Licensor may, pursuant to a notice of arbitration communicated by reasonable means to the other, elect to have the dispute referred to and finally determined by arbitration. The arbitration shall be conducted in accordance with the rules designated by the Licensor in the copyright notice published with the Work, or if none then in accordance with the UNCITRAL Arbitration Rules as then in force. The arbitral tribunal shall consist of a sole arbitrator and the language of the proceedings shall be English unless otherwise agreed. The place of arbitration shall be where the Licensor has its headquarters. The arbitral proceedings shall be conducted remotely (e.g., via telephone conference or written submissions) whenever practicable.
```

Depending on your student ID, you will assigned to analyze a specific continent.

In [2]:
def continentChooser(studentID: int) -> str:
    return str(['asia', 'europe', 'africa', 'americas'][studentID % 4])

# Run :))
your_continent:str = continentChooser(studentID=studentID)
your_continent

'americas'

Now, we start to setup some params for you

In [3]:
format: str = "json"
per_page: int = 100

# TODO: Define your wanted year interval here, highly recommended from 1995 to 2022 or 1985 to 2022
# YOUR CODE HERE
year_interval: str = "1995:2022"

is_display: bool = True

## Import necessary Python modules ðŸ“š

In [4]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.data_module import make_dataset

## Start crawling and save your collected data

Using ```make_dataset.loadDataContinent``` to start crawling and save your raw data to ```csv``` format.

In [5]:
df = make_dataset.loadDataContinent(
    continent = your_continent,
    format = format,
    per_page = per_page,
    year_interval = year_interval,
    is_display = is_display
)

[LOG] Loading data for Antigua and Barbuda
[LOG] Loading data for Argentina
[LOG] Loading data for Aruba
[LOG] Loading data for Bahamas, The
[LOG] Loading data for Barbados
[LOG] Loading data for Belize
[LOG] Loading data for Bermuda
[LOG] Loading data for Bolivia
[LOG] Loading data for Brazil
[LOG] Loading data for British Virgin Islands
[LOG] Loading data for Canada
[LOG] Loading data for Cayman Islands
[LOG] Loading data for Chile
[LOG] Loading data for Colombia
[LOG] Loading data for Costa Rica
[LOG] Loading data for Cuba
[LOG] Loading data for Dominica
[LOG] Loading data for Dominican Republic
[LOG] Loading data for Ecuador
[LOG] Loading data for El Salvador
[LOG] Loading data for Greenland
[LOG] Loading data for Grenada
[LOG] Loading data for Guatemala
[LOG] Loading data for Guyana
[LOG] Loading data for Haiti
[LOG] Loading data for Honduras
[LOG] Loading data for Jamaica
[LOG] Loading data for Mexico
[LOG] Loading data for Nicaragua
[LOG] Loading data for Panama
[LOG] Loading data for Paraguay
[LOG] Loading data for Peru
[LOG] Loading data for Puerto Rico
[LOG] Loading data for St. Kitts and Nevis
[LOG] Loading data for St. Lucia
[LOG] Loading data for St. Vincent and the Grenadines
[LOG] Loading data for Suriname
[LOG] Loading data for Trinidad and Tobago
[LOG] Loading data for Turks and Caicos Islands
[LOG] Loading data for United States
[LOG] Loading data for Uruguay
[LOG] Loading data for Venezuela, RB
[LOG] Loading data for Virgin Islands (U.S.)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,93763.0,48981.0,44782.0,None,None,11.0,None,None,None,None,...,None,None,None,None,None,None,None,None,2022,Antigua and Barbuda
1,93219.0,48709.0,44511.0,12.115,6.365,11.0,None,None,None,None,...,0.72,None,75.775,80.941,None,None,None,None,2021,Antigua and Barbuda
2,92664.0,48428.0,44236.0,12.16,5.961,11.0,None,None,None,None,...,0.74,None,76.061,81.316,None,None,None,None,2020,Antigua and Barbuda
3,92117.0,48156.0,43961.0,11.485,5.865,11.0,None,None,None,None,...,0.69,None,75.909,81.171,112.12223815918,None,104.976669311523,None,2019,Antigua and Barbuda
4,91626.0,47910.0,43715.0,10.816,5.787,11.0,None,None,None,None,...,0.7,None,75.724,81.0,112.091682434082,None,104.444442749023,None,2018,Antigua and Barbuda

In [6]:
# Save raw data to disk
save_name = "_".join([str(studentID), str(your_continent)]) + ".csv"
make_dataset.saveDataFrame2CSV(df, os.path.join("../data/raw", save_name))

True